<div *ngIf="show == 0 ">
  <div class="container h-100" style="padding-top:5cm;">
    <div class="row h-100 justify-content-center align-items-center">

      <button type="button" class="btn btn-primary" (click)="register()" style="border-top:2cm" >Register</button>
    </div>
  </div>

</div>
<div *ngIf="show == 1 ">
  <app-registration-form></app-registration-form>
</div>
<!-- <ng-template >content here...</ng-template> -->

<!-- <ng-template #other_content>other content here...</ng-template> -->
